<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8"/>
</head>
<body>-->
<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark" th:fragment="header">
    <a class="navbar-brand" href="/index">CN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div class="nav-text text-light" sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <div>
                        <form action="/logout" method="post">
                            <div><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
                            <input type="submit" class="btn btn-primary btn-dark " value="Sign Out"/>
                        </form>
                    </div>
                </li>
            </div>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <div>
                    <a href="/user" type="button" class="btn btn-primary btn-dark">User List</a>
                </div>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('USER')">
                <div>
                    <a href="/courseInfoEditor" type="button" class="btn btn-primary btn-dark">Become a teacher</a>
                </div>
            </li>
        </ul>
        <div class="nav-text text-light" sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span>
        </div>
        <div class="nav-text text-light" sec:authorize="!isAuthenticated()">
            <span>Anon</span>
        </div>
    </div>
</nav>
<!--
</body>
</html>-->
