<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles/registration.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:action="@{/user/{id}(id=${user.id})}" th:object="${user}" method="post">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.id}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="${user.username}"></td>
            <td></td>
        </tr>
        <td th:text="${user.email}"></td>
        <td></td>

        </tr>
        <tr>
            <td th:text="${user.roles}"></td>
            <td>
                <div class="form-check" th:each="role : ${roles}">
                    <input class="form-check-input" type="checkbox"
                           th:field="${user.roles}"
                           th:name="${role.name()}"
                           th:checked="${user.roles.contains(role)}"
                           th:value="${role}" th:text="${role.name()}">
                </div>
            </td>
        </tr>
        <tr>
            <td th:text="${user.age}"></td>
            <td></td>
        <tr>
            <td><button class="btn btn-primary btn-dark float-right" type="submit">Sign up!</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>